<app-header titulo="Energias Renovables"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        El Técnico Superior Universitario en Energías Renovables área Energía Solar podrá desenvolverse en:        
      </p>

      <p>
        Empresas e instituciones públicas y privadas que requieran, asistencia en el desarrollo de estrategias relacionadas con el uso eficiente de la energía y al aprovechamiento de energías renovables
      </p>

      <p>
        Sectores industrial, comercial y residencial que requieran el diseño, instalación y mantenimiento de proyectos fotovoltaicos y termosolares para el aprovechamiento de la energía.
      </p>

      <p>
        Organizaciones gubernamentales no gubernamentales que gestionen y apliquen recursos para proyectos de impacto social y sustentable
      </p>

      <p>
        Empresas de comercialización enfocadas a realizar proyectos de industria limpia que coadyuven a la utilización de la energía solar.
      </p>

      <p>
        Sectores industrial, comercial y residencial que requieran el diseño, instalación y mantenimiento de instalaciones eléctricas de baja tensión y de sistemas de iluminación.
      </p>

      <p>
        Empresa propia de proyectos de servicios en el ramo eléctrico, fotovoltaico y termosolar.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>
