<app-header titulo="Robotica"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Desarrollarás y conservarás sistemas automatizados y de control, utilizando tecnología adecuada de acuerdo a normas, especificaciones técnicas y de seguridad para mejorar y mantener los procesos productivos; inspeccionarás y programarás el funcionamiento y aplicación de los sistemas robóticos industriales a través de metodologías de programación, acciones de mantenimiento, características técnicas, normatividad aplicable y necesidades de ejecución del trabajo para conservar las condiciones de operación que demanda el proceso productivo.
      </p>

      <p>
        Podrás laborar en empresas dedicadas a la fabricación de sistemas y componentes eléctricos y electrónicos, a la manufactura o comercialización de robots, a integrar proyectos de automatización de procesos, en áreas de mantenimiento de sistemas.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

