<app-header titulo="Nanotecnoloiga"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Producirás materiales nanotecnológicos amigables con el medio ambiente y tecnologías limpias, 
        mediante procedimientos de síntesis e incorporación de nanomateriales existentes, para atender una 
        necesidad de investigación y desarrollo de nuevos productos, tomando en consideración la normatividad 
        aplicable a fin de determinar sus propiedades físicas y químicas y contribuir al desarrollo tecnológico. 
      </p>

      <p>
        Podrás desenvolverte en empresas de la industria cerámica, alimenticia, farmacéutica, 
        polímeros, metal-mecánica, semiconductores, en la investigación, diseño y síntesis de nuevos 
        materiales dentro del laboratorio; así como, la manipulación de equipos, en implementación de 
        técnicas y el manejo de nuevos nanomateriales para su mejora o innovación y como soporte técnico en 
        la verificación de los materiales.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  

</ion-content>
