<app-header titulo="Gestion de Negocios"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Evaluarás la situación financiera mediante técnicas de análisis y proyección, formularás la planeación estratégica para nuevas unidades de producción y para empresas en marcha. Formularás y evaluarás proyectos y programas de inversión y/o mejora a través de un análisis estratégico y la aplicación de técnicas y métodos de mercado, técnicos y financieros para atender las necesidades y métodos de mercado, técnicos y financieros para atender las necesidades y optimizar los recursos de la organización y el desarrollo económico de la región.
      </p>

      <p>
        Podrás desempeñarte en empresas públicas y privadas dedicadas a la producción y comercialización bienes o de servicio, asociadas al sector financiero de apoyo y fomento a Pymes, instituciones gubernamentales de apoyo y fomento al desarrollo, o en tu propia empresa de consultoría en materia de formulación y evaluación de proyectos.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

