<app-header titulo="Mercadotecnia"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Administrarás el proceso de ventas mediante estrategias, técnicas Y herramientas adecuadas, para contribuir al desarrollo de la organización; administrarás el proceso de compras y control de suministros a través de las políticas y procedimientos de la organización y técnicas de control de inventarios y almacenamiento, para asegurar su disponibilidad, así como diseñar estrategias de mercado identificando oportunidades de negocio, para el fortalecimiento nacional e internacional de las organizaciones.
      </p>

      <p>
        Podrás laborar en empresas públicas o privadas del industrial, sector comercial y de servicios, instituciones y organismos públicos.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>
