<app-header titulo="Contaduria"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Aplicarás los conocimientos adquiridos en áreas de contabilidad, costos, auditoría, fiscal, finanzas y paquetería contable para generar información financiera; interpretar Y cumplir adecuadamente con las obligaciones fiscales aplicables tanto a personas morales como físicas; diseñar e implementar sistemas de control administrativo y financiero, que permitan a las organizaciones tener seguridad de que su información refleje el impacto económico de sus transacciones.
      </p>

      <p>
        Podrás desarrollarte en empresas públicas o privadas que se dedican específicamente al manejo de aspectos contables, financieros y de costos, en corporativos, pequeñas y medianas empresas de corte nacional e internacional.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

