<app-header titulo="Operaciones Industriales"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Gestionarás la producción a través de herramientas de la administración, para cumplir con los 
        requerimientos del cliente, administrarás la cadena de suministro a través de sistemas de logística 
        para garantizar la disposición de materiales y productos, y ejecutarás los procesos de manufactura a 
        través de técnicas de administración de operaciones aseguramiento de la calidad, para contribuir a la 
        competitividad de la organización.  
      </p>

      <p>
        Podrás trabajar en sectores extractivo, de manufactura y de servicios privados o públicos, 
        desarrollando tus habilidades relativas al diseño y desarrollo de productos, diseño e 
        implementación de administración de las procesos, actividades operativas y administrativas de una 
        planta o empresa, incluyendo la implementación, desarrollo y control de proyectos.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>
