<app-header titulo="Multiplataforma"></app-header>

<ion-content fullscreen class="ion-padding">

    <div>
        <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
    </div>
    <div class="ion-text-justify ">
        <p>
            Implementarás aplicaciones de software mediante técnicas de programación; 
            realizarás soporte técnico a equipo de cómputo, sistemas operativos y redes locales; 
            implementarás sistemas de información de calidad, a través de desarrollo de software y 
            administrarás sistemas manejadores de bases de datos acorde a los requerimientos de información 
            de la organización, para garantizar el óptimo funcionamiento de sus recursos informáticos y para 
            eficientar los procesos de las organizaciones.  
        </p>
        <p>
            Podrás trabajar en empresas dedicadas al desarrollo y consultoría de software.
        </p>
    </div>

    <div class="ion-text-center">
        <ion-card>
            <ion-card-content>
                <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
                <br>
                <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
                <br>
                <label>O visitanos en nuestra pagina oficial!</label>
            </ion-card-content>
        </ion-card>
        
    </div>
    

</ion-content>
