<app-header titulo="Capital Humano"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Tus funciones consistirán en administrar los recursos de las organizaciones, mediante la aplicación de metodologías y herramientas tecnológicas de planeación estratégica, financiera, mercadológica y de gestión de calidad; administrarás el capital humano, mediante los procesos de planeación, reclutamiento, selección, desarrollo Y evaluación del factor humano con apego al marco legal vigente para contribuir al logro de los objetivos organizacionales.
      </p>

      <p>
        Podrás laborar en empresas públicas o privadas como coordinador de reclutamiento y selección, coordinador de capacitación y adiestramiento, analista de nóminas, consultor en áreas de capital humano, coordinador de áreas de capital humano, analista de gestión de la calidad, diseñador de puestos de trabajo, analista de procesos, coordinador de procesos de certificación laboral, analista de sistemas de evaluación de personal o como coordinador de programas de seguridad e higiene.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

