<app-header titulo="Logistica Terrestre"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Administrarás el proceso de ventas mediante estrategias, técnicas herramientas adecuadas, para contribuir al desarrollo de la organización: administrarás el proceso de compras y control de suministros a través de las políticas y procedimientos de la organización y técnicas de control de inventarios y almacenamiento, para asegurar su disponibilidad de equipo y recursos humanos, así como la reglamentación de transporte aplicable, para asegurar que lleguen a su destino en tiempo y forma.
      </p>

      <p>
        Podrás trabajar en empresas dedicadas al abastecimiento, transportación, distribución y comercialización de productos y servicios, en empresas con actividad de comercio exterior, dedicadas a la transportación nacional e internacional, a operación logística y subcontratación, relacionadas con los procesos de distribución y comercialización de productos y servicios.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

