<app-header titulo="Industrial"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Tus funciones consistirán en la gestión de las actividades del mantenimiento mediante la integración del plan maestro, para garantizar la operación y contribuir a la productividad de la organización y en la supervisión del reemplazo o fabricación de partes de los sistemas electromecánicos en maquinaria, equipo y redes de distribución industrial empleado normas para mantener en óptimas condiciones la planta productiva, procurando la mejora continua, la seguridad, la innovación, la calidad y la eficiencia global de los procesos de producción.
      </p>

      <p>
        Podrás laborar en empresas públicas y privadas, industria metalmecánica, alimenticia, del plástico, química, petrolera, eléctrica, del vestir, aeronáutica, automotriz, de electro-domésticos, farmacéutica, empresas de servicio como hoteles, hospitales o bien generar tu propia empresa de mantenimiento preventivo y correctivo de los equipos industriales.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

