<app-header tiulo="Quimica Ambiental"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Planearás y ejecutarás actividades orientadas a la protección del ambiente conforme a la normatividad 
        aplicable; supervisarás la implantación de Sistemas de Seguridad Ambiental, así como de Programas de
         Higiene y Seguridad Laboral; realizarás la gestión y seguimiento a las autorizaciones y permisos 
         legales en materia ambiental; desarrollarás Evaluaciones de Impacto Ambiental y Análisis de Riesgo; 
         diseñarás Programas de Manejo Integral de Residuos. En materia de análisis, realizarás operaciones de
          muestreo y monitoreo de contaminantes en aire, agua y suelo.
      </p>

      <p>
        Podrás trabajar en empresas públicas, privadas y no gubernamentales, laboratorios de prueba, 
        en organismos e instituciones dedicadas a la vigilancia y control normativo en áreas concernientes a 
        la problemática ambiental, o bien, de manera independiente ofreciendo consultorías y asesorías técnicas.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  

</ion-content>

