<app-header titulo="Gestion de Proyectos"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        El egresado posgrado en Gestión de proyectos Estratégicos Sostenibles podrá desempeñarse profesionalmente en el ámbito de los sectores socia, público y privado, así como en el ámbito académico debido a que poseerá los conocimientos, capacidades, habilidades, actitudes y valores para diagnosticar, diseñar, gestionar, implementar, acompañar y evaluar proyectos de desarrollo rural, comunitario y urbano.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

