<app-header titulo="Montajes de Plantas"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Administrarás el desarrollo de obras de construcción y montaje industrial a través de la planeación 
        de actividades y gestión de recursos, verificando el cumplimiento de la normatividad, así como de las 
        metas establecidas, para evitar penalizaciones y contribuir a la rentabilidad de la organización.
      </p>

      <p>
        Controlarás el desarrollo de obras de construcción y montaje en la industria petrolera con base 
        en el plan de trabajo, las especificaciones técnicas y normativas.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

