<app-header titulo="Mantenimiento Maquinaria"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Tus funciones consistirán en supervisar el mantenimiento a maquinaria pesada de acuerdo al plan, procedimientos y manuales del fabricante a fin de contribuir a su rendimiento y vida útil, evaluarás la funcionalidad de los sistemas de maquinaria pesada a partir del diagnóstico, interpretación de manuales e historiales del equipo con la finalidad prevenir y detectar fallas optimizando recursos; así como dirigir el mantenimiento de maquinaria pesada, los procedimientos, especificaciones técnicas del fabricante y la normatividad aplicable, para optimizar la disponibilidad de la maquinaria.
      </p>

      <p>
        Podrás laborar en empresas públicas o privadas dedicadas a minería, pesca y agricultura; empresas metalmecánicas, aeronáuticas automotrices, extracción, minero metalúrgicas, de materiales, industriales, petroquímica, transportes, agropecuarias o marinas; en empresas de servicio como transportes, construcción y mantenimiento de carreteras de obra civil entre otros, agencias o distribuidores de maquinaria pesada; en consultoría, asesoría u peritaje en proyectos, actividades o siniestros con el área de maquinaria pesada o en su propia empresa de mantenimiento, venta o renta de maquinaria pesada.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>

