<app-header titulo="Automatizacion"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Desarrollarás sistemas automatizados y de control utilizando tecnología adecuada para mejorar los procesos Y mantener productivos. Podrás planear y supervisar el mantenimiento de sistemas automatizados y de control utilizando tecnologías de la información e implementando sistemas de Medición y Control bajo los estándares establecidos, correcto para funcionamiento de los procesos industriales.
      </p>

      <p>
        Podrás laborar en empresas que se dediquen a la fabricación de sistemas y componentes eléctricos y/o electrónicos, en proyectos de automatización de procesos, en área de mantenimiento de sistemas automatizados en industria química, farmacéutica, transformación de la madera, metal mecánica, automotriz, textil y de la confección, proceso de alimentos, sector eléctrico o empresas dedicadas a proporcionar servicios generales especializados.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>
