<app-header titulo="Redes"></app-header>

    <ion-content fullscreen class="ion-padding">

        <div>
            <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
        </div>
        <div class="ion-text-justify ">
            <p>
                Desarrollarás soluciones tecnológicas para entornos Web mediante fundamentos de 
                programación orientada a objetos, base de datos y redes de área local que atiendan las 
                necesidades de las organizaciones; planearás la infraestructura de redes digitales, 
                implementarás la solución de infraestructura de redes mediante la configuración de 
                dispositivos, servicios e integración de tecnologías orientadas a la industria 4.0; 
                así como soluciones de seguridad a través de técnicas para proteger de riesgos, amenazas y 
                vulnerabilidades en la organización.   
            </p>
            
            <p>
                Podrás laborar en empresas dedicadas al desarrollo y consultoría de software, a la proveeduría de 
                servicios de internet, a la venta de servicios tecnológicos en infraestructura física y lógica que 
                manejen sistema de información y comunicaciones digitales.
            </p>
        </div>
    
        <div class="ion-text-center">
            <ion-card>
                <ion-card-content>
                    <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
                    <br>
                    <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
                    <br>
                    <label>O visitanos en nuestra pagina oficial!</label>
                </ion-card-content>
            </ion-card>
            
        </div>
        
    
    </ion-content>