<app-header titulo="QuimicaIndustrial"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Desarrollarás las competencias necesarias para transformar la materia prima mediante la 
        aplicación de procesos fisicoquímicos y termodinámicos en la obtención de productos químicos 
        industriales que satisfagan las necesidades del cliente. Por otra parte, serás capaz de controlar el 
        desempeño del proceso de transformación y proponer mejoras al mismo, haciendo uso de la información 
        estadística y los recursos disponibles, para contribuir a su óptimo funcionamiento, considerando en 
        todo momento la protección al ambiente. 
      </p>

      <p>
        Aprenderás a colectar muestras de composición orgánica e inorgánica y aplicarás los métodos de 
        análisis fisicoquímicos e instrumentales, de acuerdo con la normatividad vigente, para proporcionar 
        información confiable que contribuya a la toma de decisiones del área correspondiente.
      </p>

      <p>
        Podrás trabajar en la industria química, petroquímica, de alimentos, textil, farmacéutica, 
        de plásticos y en general en cualquier industria que cuente con procesos de transformación, 
        gubernamentales y centros de investigación.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  

</ion-content>
