<app-header titulo="Instalaciones Electricas"></app-header>

<ion-content fullscreen class="ion-padding">

  <div>
      <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
  </div>
  <div class="ion-text-justify ">
      <p>
        Planearás, implementarás y supervisarás el mantenimiento a sistemas automatizados y de control utilizando las tecnologías de la información, considerando la planeación establecida acorde a las normas, estándares, especificaciones técnicas y plan de mantenimiento para contribuir y garantizar Disponibilidad operacional.
      </p>

      <p>
        Diagnosticarás, integrarás o crearás sistemas eléctricos nuevos o existentes de acuerdo a los requerimientos de la empresa, apegados a la normatividad y especificaciones técnicas para incrementar la eficiencia del proceso y mejorar el consumo de energía eléctrica que contribuya al ahorro de energía. 
      </p>

      <p>
        Podrás trabajar en empresas dedicadas a la fabricación de sistemas y componentes eléctricos y/o electrónicos, enfocadas automatización integrar de proyectos del proceso, en mantenimiento de sistemas automatizados de industrias químicas, farmacéuticas, transformación de la madera, metal mecánica, automotriz, textil y de la confección, proceso de alimentos y sector eléctrico, así como en empresas dedicadas a promocionar servicios generales especializados.
      </p>
  </div>

  <div class="ion-text-center">
      <ion-card>
          <ion-card-content>
              <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
              <br>
              <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
              <br>
              <label>O visitanos en nuestra pagina oficial!</label>
          </ion-card-content>
      </ion-card>
      
  </div>
  
</ion-content>
