<app-header titulo="Entornos Virtuales" translucent></app-header>

<ion-content fullscreen class="ion-padding">

    <div>
        <h3 class="ion-text-center">PERFIL PROFESIONAL</h3>
    </div>
    <div class="ion-text-justify ">
        <p>
            Desarrollarás soluciones tecnológicas para entornos Web mediante fundamentos de 
            programación orientada a objetos, base de datos y redes de área local que atiendan 
            las necesidades de las organizaciones.
        </p>
        <p>
            Implementarás aplicaciones multiplataforma digitales e interactivas mediante software 
            especializado en diseño y entornos virtuales, desarrollando contenidos multidimensionales, 
            realidad virtual, realidad aumentada para contribuir a la comercialización de productos, 
            servicios, y a la optimización de los recursos de las organizaciones.
        </p>
        <p>
            Podrás laborar en empresas públicas o privadas que demanden servicios de tecnologías de la 
            información en el desarrollo web, desarrollo de productos digitales, realidad virtual, realidad 
            aumentada, manejo de redes sociales. Servicios comerciales e industriales, agencias de publicidad,
            organismos públicos, agencia de consultoría o tu propia empresa.
        </p>
    </div>

    <div class="ion-text-center">
        <ion-card>
            <ion-card-content>
                <label>Si quieres saber mas sobre la carrera, te puedes registrar.</label>
                <br>
                <ion-button href="/Estudiante" slot="center">Aqui!</ion-button>
                <br>
                <label>O visitanos en nuestra pagina oficial!</label>
            </ion-card-content>
        </ion-card>
        
    </div>
    

</ion-content>
